@charset "utf-8";


body{
	background-color:#f1f1f1;
	color:#000000;
	
	
	}
  .register-form{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: #00000;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	
	
}

.register-form form input{padding: 5px;}
.register-form .btn{-moz-box-shadow:inset 0px 39px 9px -24px #f4d06c;
	-webkit-box-shadow:inset 0px 39px 9px -24px #f4d06c;
	box-shadow:inset 0px 39px 9px -24px #f4d06c;
	background-color:#f2be66;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#555555;
	font-family:'Gotham';
	font-size:12px;
	font-weight: bold;
	padding:8px 30px;
	text-decoration:none;}

.register-form .btn:hover{
	background-color:#f2be66;
	color:#FFFFFF;
	
	
	}
.register-form .register{
border: 0;
width: 60px;
padding: 8px;
}

.register-form . register:active {
	position:relative;
	top:1px;



/* CSS Document */







